{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
<h1 class="text-center">Iniciar Sesión</h1>
<hr>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('register') }}" class="btn btn-link">¿No tienes una cuenta? Regístrate aquí.</a>
</form>
{% endblock %}