{% extends 'base.html' %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<h1 class="text-center">Registrarse</h1>
<hr>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control") }}
        {% for error in form.password2.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-success") }}
    <a href="{{ url_for('login') }}" class="btn btn-link">¿Ya tienes una cuenta? Inicia sesión.</a>
</form>
{% endblock %}